{% extends 'Blog/base.html' %}

{% block head_title %}

Add Post

{% endblock head_title %}

{% block content %}


    <h1>Create Post </h1>
    <div class="form-group">
    <form method= "POST" enctype="multipart/form-data"> {% csrf_token %}
    {{ form.as_p }}
    {{ form.media}}
    <button type="submit" class="btn btn-secondary"><i class="fas fa-plus"></i> Add New Post</button>
    </form>
    </div>
    
    <script>
        var name = "{{ user.id }}";
        document.getElementById("author").value = name;
    </script>


{% endblock content %}