{% extends 'Blog/base.html' %}
{% block content %}
<h1>Posts</h1>
<ul>

        {% for post in posts %}
        <li><a href="{% url 'article-detail' post.pk %}">{{post.title}}</a>
            - <a href="{% url 'category' post.category|slugify %}">{{post.category}}</a>
            - {{post.author.first_name}}
            {{post.author.last_name}}
            - {{post.post_date}}
            {{post.body | slice:":200" | safe}}
        </li>

        {% endfor %}
    {% include 'Blog/pagination.html' with page=posts %}
</ul>


{% endblock %}
